[user]
   email = 2470335+filviu@users.noreply.github.com
   name = filviu

[color]
   ui = true

[core]
	excludesfile = ~/.gitignore

[credential]
	useHttpPath = true

[alias]
   s = status
   co = checkout
   lg = log --pretty=format:'%C(bold green)%h%C(reset) %C(cyan)%ad%C(reset) %C(white)%s%C(reset) %C(blue)|%C(reset) %C(bold blue)%an%C(reset) %C(bold yellow)%d%C(reset)' --graph --date=short
   hist = log --graph --format=format:'%C(bold green)%h%C(reset) - %C(bold magenta)(%ar)%C(reset) %C(white)%s%C(reset) %C(blue)|%C(reset) %C(bold blue)%an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
   tags = log --pretty=format:'%C(bold green)%h%C(reset)%C(normal)%d%C(reset)' --graph --date=short

[include]
   path = .gitconfig-credentials
   path = .gitconfig-local

[pull]
   rebase = false

[init]
   defaultBranch = main

[push]
   autoSetupRemote = true

[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
